*{
    font-family: 'Comfortaa', 'Trebuchet MS';
    color: white;
}

html{
    background: url(../images/background.jpg) no-repeat center center fixed;
    background-size: cover;
}

h1{
    text-align: center;
    margin-top: 3vw;
}

form{
    text-align: center;
    font-size: 1.2em;
}

form input:not([type=submit]){
    height: 2vw;
    margin: 5px 0;
    border: 2px solid #ff8b12;
    border-radius: 25px;
    color: black;
    padding-left: 10px;
}

#botton{
    margin-top: 2vw;
    width: 7vw;
    height: 2vw;
    border: none;
    border-radius: 25px;
    color: black;
}

#botton:hover{
    cursor: pointer;
    background-color: #a0f267;
}
